/.idea/.idea.cppProject/.idea/indexLayout.xml
/.idea/.idea.cppProject/.idea/vcs.xml
/x64/Debug/cppProject.tlog/CL.command.1.tlog
/x64/Debug/cppProject.tlog/Cl.items.tlog
/x64/Debug/cppProject.tlog/CL.read.1.tlog
/x64/Debug/cppProject.tlog/CL.write.1.tlog
/x64/Debug/cppProject.tlog/cppProject.lastbuildstate
/x64/Debug/cppProject.tlog/link.command.1.tlog
/x64/Debug/cppProject.tlog/link.read.1.tlog
/x64/Debug/cppProject.tlog/link.write.1.tlog
/x64/Debug/cppProject.exe
/x64/Debug/cppProject.exe.recipe
/x64/Debug/cppProject.ilk
/x64/Debug/cppProject.obj
/x64/Debug/cppProject.pdb
/x64/Debug/cppProject.vcxproj.FileListAbsolute.txt
/x64/Debug/vc143.idb
/x64/Debug/vc143.pdb
*.obj